
h2 {
    text-align: center;
}

body {
    font-family: Tahoma,sans-serif;
    background-image: url("descarga1.png");
    width: 100%;
    margin: 0;
}

div {
    /*background:rgba(127,0,127,0.10);
        */
}

h1 {
    text-align: center;
}

div[id="estructura"] {
    margin: 0px 40px;
    padding: 5%;
    width: auto;
    max-width: 1400px;
    min-width: 300px;
    background: rgba(200,120,120,0.8333);
}

div[class="block"] {
    width:auto;
    font-size: 20px;
    text-align: center;
    background: rgba(2,0,0,0.40);
    margin-bottom: 50px;
    display:flow;
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  div[id="estructura"] {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
img {
    padding: 10px;
    width: 100px;
}

footer {
    font-size: 18px;
    text-align: center;
    font-family: 'HoloLens MDL2 Assets';
}

div[id="tapas"] {
    display: block;
    width: auto;
    min-width: 200px;
}


div[id="raciones"] {
    display: block;
    width: auto;
    min-width: 200px;
}

section{
    margin:7px;
    display:flex;

}
.precio{
    text-align:right;
    width:25%;
}

    .nombre {
        text-align: left;
        width:75%;
    }

.block {
    text-align: center;
    padding: 5px;
    justify-content:center;
}

    .block a {
        text-decoration: none;
        color: #000001;
        display: inline-block;
        text-align: center;
        vertical-align: bottom;
        margin-right: 20px; /* Espacio entre las imágenes y palabras */
    }

    .block img {
        width: 100px; /* Tamaño de las imágenes */
        height: 100px;
    }

    .block span {
        display: block;
    }
