body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #322c2c;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.square-button {
    width: 150px;
    height: 150px;
    background-color: #3333cf;
    color: rgb(25, 11, 11);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.square-button-youtube{
    background-color: #f81307;
}
.square-button-twitch{
    background-color: #a307d7;
}
.square-button-github{
    background-color: #5c5756;
}
.square-button-twitter{
    background-color: #010101;
}
.square-button-whatsapp{
    background-color: #00A86B
}


.square-button-youtube:hover {
    background-color: #6ba56e;
}
.square-button-twitch:hover {
    background-color: #6ba56e;
}
.square-button-github:hover {
    background-color: #6ba56e;
}
.square-button-twitter:hover {
    background-color: #6ba56e;
}
.square-button-whatsapp:hover {
    background-color: #3BB143;
}

